@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/MontserratAlternates-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}